<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
</head>

<body>
<div class="container">  
    <h2>
        <span>Here are the models present.</span>
    </h2>

    <table border="1" width="100%">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
            </tr>
        </thead>
        <tr  th:each="modeldata : ${models}">
            <td><a th:href="@{/model?(id=${modeldata.id})}">[[${modeldata.id}]]</a></td>
            <td th:text="${modeldata.name} ?: 'UNKNOWN'"></td>
        </tr>
    </table>
</div>

<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>