<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
	<div class="container">  
		<h2>
			<span th:text="'Here the model with the id: ' + ${id}"></span>
		</h2>

		<table border="1" width="100%">
			<tr>
				<td>Model Id</td>
				<td th:text="${modeldata.id} ?: 'UNKNOWN'"></td>
			</tr>
			<tr>
				<td>Model Name</td>
				<td th:text="${modeldata.name} ?: 'UNKNOWN'"></td>
			</tr>
			<tr>
				<td>Model Category</td>
				<td th:text="${modeldata.category} ?: 'UNKNOWN'"></td>
			</tr>
			<tr>
				<td>Model Description</td>
				<td th:text="${modeldata.description} ?: 'UNKNOWN'"></td>
			</tr>
			<tr>
				<td>Model Photo</td>
				<td><img
					th:src="'https://venkystorage1001.blob.core.windows.net/imagescontainer/productimages/productimages/' + ${modeldata.photo} ?: 'UNKNOWN'"></td>
			</tr>
						<tr>
				<td>Model Photo (from Azurite if local testing)</td>
				<td><img
					th:src="'http://localhost:10000/devstoreaccount1/imagescontainer/' + ${modeldata.photo} ?: 'UNKNOWN'"></td>
			</tr>
			
		</table>

		<h2>Model Products</h2>

		<table th:each="product : ${modeldata.products}" border="1"
			width="100%">
			<tr>
				<td>Product Id</td>
				<td th:text="${product.id}"></td>
			</tr>
			<tr>
				<td>Product Name</td>
				<td th:text="${product.name}"></td>
			</tr>
			<tr>
				<td>Product Number</td>
				<td th:text="${product.number}"></td>
			</tr>
			<tr>
				<td>Product Category</td>
				<td th:text="${product.category}"></td>
			</tr>
			<tr>
				<td>Product Color</td>
				<td th:text="${product.color}"></td>
			</tr>
			<tr>
				<td>Product Size</td>
				<td th:text="${product.size}"></td>
			</tr>
			<tr>
				<td>Product Weight</td>
				<td th:text="${product.weight}"></td>
			</tr>
			<tr>
				<td>Product ListPrice</td>
				<td th:text="${product.listPrice}"></td>
			</tr>
		</table>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>